@page "/Rl/{videoId?}"
@using System.IO
@using Jaydlc.Core
@inject IVideoManager VideoManager

<h3>Jay's Rocket League Clips</h3>

@if (VideoId is null)
{
    // Show the available videos
}
else
{
    <LinkedVideo VideoId="@VideoId"/>
}

<button class="btn btn-primary" @onclick="UpdateVideos">Update Videos</button>

@code {

    [Parameter]
    public string? VideoId { get; set; } = null;

    protected override void OnInitialized()
    {
    // Console.WriteLine(VideoId);
    }

    private async Task UpdateVideos()
    {
        await VideoManager.DownloadPlaylistInfo();
    }

}