@using Serilog
@using Microsoft.AspNetCore.Http
@inherits LayoutComponentBase
@implements IDisposable
@inject NavigationManager NavManager
@inject ILogger Logger
@inject IHttpContextAccessor HttpContextAccessor


<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://github.com/CavemanJay">
                <img src="GitHub-Mark/PNG/GitHub-Mark-Light-32px.png">
            </a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code
{

    protected override void OnInitialized()
    {
        NavManager.LocationChanged += NavManagerOnLocationChanged;
    }

    private void NavManagerOnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        Logger.Debug("{RemoteIp} navigated to: " + e.Location, HttpContextAccessor.HttpContext?.Connection.RemoteIpAddress);
    }

    void IDisposable.Dispose()
    {
        NavManager.LocationChanged -= NavManagerOnLocationChanged;
    }
}